.top{
    border-style: solid;
    padding: 0px;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    background-color:rgb(255, 242, 190);
   
}
.header{
    color: darkgreen;
    font: 0.9em small-caps;
}
.header2{
    color: green;
    font: 0.7em sans-serif;
}
.content{
    border-style: solid;
    text-align: center;
    padding-top: 70px;
    border-top-width: 0ch;
    background-color:grey;
    padding-left:200px;
}
.input{
    padding-top: 40px;
    border-style: solid;
    background-color: goldenrod;
    height:200px;
    width:300px;
    display: flex;
}
.output{
  
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}
.outputamount{
    border-style: solid;
    border-width: 1px;
    width: 105px;
    height: 120px;
    text-align: left;
    margin-right: 4px;
    background-color: white;
}
.leftside{
   
    width: 160px;

}


