.wrapper{
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-around;
   margin-top: 10px;
}
.input{
    margin-bottom: 20px;
    border-style: none;
    font: 1.5em small-caps;
}
.output{
    border-style: none;
    margin-bottom: 20px;
    font: 1.5em small-caps;
}
.image1{
    width: 300px;
    height: 300px;
    border-style: solid;
    margin-bottom: 10px;
}
.image2{
    width: 300px;
    height: 300px;
    border-style: solid;
    margin-bottom: 10px;

}
img{
    display:block;
    width: 300px;
   height: 300px;
}
button{
    height: 30px;
}